  <footer>
      <nav>
          <a href="http://www.vaultapp.xyz/" target="_blank" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'http://www.vaultapp.xyz/']);">Vault</a>
          <a href="mailto:team@vaultapp.xyz" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'mailto:team@vaultapp.xyz']);">Contact</a>
      </nav>
      <ul id="social" class="social-list">
          <li id="twitter"><a href="https://twitter.com/VaultAppXYZ" target="_blank" class="icon-twitter" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'https://twitter.com/VaultAppXYZ']);"></a></li>
      </ul>
  </footer>