  <!-- <footer>
      <nav>
          <a href="http://vaultapp.xyz/blog/" target="_blank">Blog</a>
          <a href="mailto:team@vaultapp.xyz">Contact</a>
          <a href="https://vaultapp.xyz/press" target="_blank">Press</a>
          <a href="https://vaultapp.xyz/faq" target="_blank">FAQ</a>
          <a href="https://vaultapp.xyz/privacy" target="_blank">Privacy</a>
          <a href="https://vaultapp.xyz/terms" target="_blank">Terms</a>
      </nav>
      <ul id="social" class="social-list">
          <li id="twitter"><a href="https://twitter.com/mitroco" target="_blank" class="icon-twitter"></a></li> -->
          <!-- <li id="facebook"><a href="https://www.facebook.com/vaultapp.xyz" target="_blank" class="icon-facebook"></a></li> -->
          <!-- <li id="gplus"><a href="https://plus.google.com/+MitroCo/posts" target="_blank" class="icon-gplus"></a></li>
      </ul>
  </footer> -->
